@font-face {
	font-family: 'LINESeedKR-Bd';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2')
		format('woff2');
	font-weight: 700;
	font-style: normal;
}

body {
	font-family: 'LINESeedKR-Bd', sans-serif;
	justify-content: center;
	align-items: center;
	min-height: 5vh;
}

.social-icon:hover .bi-journal {
	display: block;
}

.gallery {
	background-color: var(- -background);
	gap: 16px;
	margin-top: 30px;
}

.card {
	display: inline-flex;
	width: 160px;
	height: 210px;
	background-color: var(- -background);
	border-radius: 10px;
	transition: 1000ms all;
	transform-origin: center left;
	/*     box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5); */
	outline: 1px solid var(- -background);
	overflow: hidden;
}

.card img {
	max-width: 100%;
	/* 이미지가 카드 안에 꽉 차도록 크기를 조정 */
	max-height: 100%;
	object-fit: contain;
	border-radius: 4px;
}

.card:hover {
	cursor: pointer;
	transform: scale(1.15);
}

.card:hover figcaption {
	font-size: 0.6rem;
	position: absolute;
	height: 80px;
	width: 160px;
	display: flex;
	align-items: end;
	background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%,
		rgba(0, 0, 0, 0) 100%);
	color: white;
	left: 0px;
	bottom: 0px;
	padding-left: 12px;
	padding-bottom: 10px;
}

.card:hover ~.card {
	font-weight: bold;
	cursor: pointer;
	transform: translateX(22px);
}

.col {
	margin-bottom: 30px;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: #163172;
	color: white;
	text-align: left;
	padding: 10px 20px;
}

header h1 {
	margin: 0;
	padding: 0;
	padding-left: 6%;
}

.underline {
	border-bottom: 2px solid white;
	/* 밑줄 굵기 조절 */
	width: 30%;
	/* 밑줄의 너비 조절 */
	margin-top: 10px;
	/* 밑줄의 위 여백 조절 */
	margin-bottom: 20px;
	/* 밑줄의 아래 여백 조절 */
}