	              @font-face {
	              	font-family: 'LINESeedKR-Bd';
	              	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
	              	font-weight: 700;
	              	font-style: normal;
	              }

	              body {
	              	font-family: 'LINESeedKR-Bd', sans-serif;
	              	justify-content: center;
	              	align-items: center;
	              	min-height: 100vh;
	              	margin: 0;
	              	background:white;
	              }

	              .gallery {
	              	display: flex;
	              	background-color: var(--background);
	              	gap: 16px;
	              	scale: 1.6;
	              	margin-top: 0px;
	              	margin-bottom: 0px;
	              	margin-left: auto;
	              	margin-right: auto;
	              }

	              .card {
	              	height: 160px;
	              	/* 카드의 높이를 고정 */
	              	display: inline-flex;
	              	position: relative;
	              	left: 0px;
	              	width: 140px;
	              	height: 160px;
	              	background-color: var(--background);
	              	border-radius: 10px;
	              	transition: 1000ms all;
	              	transform-origin: center left;
	              	box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
	              	outline: 1px solid var(--background);
	              	overflow: hidden;
	              }

	              .card img {
	              	max-width: 100%;
	              	/* 이미지가 카드 안에 꽉 차도록 크기를 조정 */
	              	max-height: 100%;
	              	object-fit: cover;
	              	border-radius: 4px;
	              }

	              .card:hover {
	              	cursor: pointer;
	              	transform: scale(1.15);
	              }

	              .card:hover figcaption {
	              	font-size: 0.6rem;
	              	position: absolute;
	              	height: 80px;
	              	width: 160px;
	              	display: flex;
	              	align-items: end;
	              	background: linear-gradient(to top,
	              			rgba(0, 0, 0, 0.9) 0%,
	              			rgba(0, 0, 0, 0) 100%);
	              	color: white;
	              	left: 0px;
	              	bottom: 0px;
	              	padding-left: 12px;
	              	padding-bottom: 10px;
	              }

	              .card:hover~.card {
	              	font-weight: bold;
	              	cursor: pointer;
	              	transform: translateX(22px);
	              }

	              header {
	              	position: absolute;
	              	top: 0;
	              	left: 0;
	              	right: 0;
	              	
	              	color: white;
	              	text-align: left;
	              	padding: 10px 20px;
	              }

	              header h1 {
	              	margin: 0;
	              	padding: 0;
	              	padding-left: 6%;
	              }

	              .underline {
	              	border-bottom: 2px solid white;
	              	/* 밑줄 굵기 조절 */
	              	width: 30%;
	              	/* 밑줄의 너비 조절 */
	              	margin-top: 10px;
	              	/* 밑줄의 위 여백 조절 */
	              	margin-bottom: 20px;
	              	/* 밑줄의 아래 여백 조절 */
	              }

	              /* 여기서부터 아이콘 */
	              .social-icons .social-icon {
	              	display: inline-flex;
	              	margin: 0;
	              	padding: 0;
	              	padding-left: 6%;
	              	height: 3.5rem;
	              	width: 3.5rem;
	              	background-color: cornflowerblue;
	              	color: #fff;
	              	border-radius: 100%;
	              	font-size: 1.5rem;
	              	margin-right: 1.5rem;
	              	align-items: center;
	              }

	              .social-icons .social-icon:last-child {
	              	margin-right: 0;
	              }

	              .social-icons .social-icon:hover {
	              	background-color: #D6E4F0;
	              }

	              .dev-icons {
	              	font-size: 3rem;
	              	align-items: center;
	              }

	              .star-rating {
	              	display: flex;
	              	flex-direction: row-reverse;
	              	font-size: 2rem;
	              	line-height: 2rem;
	              	justify-content: flex-end;
	              	padding: 0.2em 0;
	              	margin-left: 0;
	              	/* Adjust the left margin as needed */
	              }

	              .star-rating input {
	              	display: none;
	              }

	              .star-rating label {
	              	-webkit-text-fill-color: transparent;
	              	/* Will override color (regardless of order) */
	              	-webkit-text-stroke-width: 2.3px;
	              	-webkit-text-stroke-color: #2b2a29;
	              	cursor: pointer;
	              }

	              .star-rating :checked~label {
	              	-webkit-text-fill-color: #FDD835;
	              }

	              .star-rating label:hover,
	              .star-rating label:hover~label {
	              	-webkit-text-fill-color: #FFF59D;
	              }
	                    .btn-primary {
                    background-color: #a4c1cf;
                    color: #fff;
                    border-color: #a4c1cf;
                 }

                 .btn-primary:hover {
                    background-color: #D0E8F2;
                    color: #fff;
                    border-color: #a4c1cf;
                 }